@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Hind:wght@300&display=swap");

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Hind", sans-serif;
  margin: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

header {
  margin: 0px;
}

.header-image {
  position: relative;
  margin: 0;
  width: 100%;
  height: 400px;
  object-fit: contain;
  background: url("https://i.ibb.co/PNgkhnt/header-placeholder.jpg");
  filter: grayscale(100%);
  background-size: cover;
}

.header-image .header-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Abril Fatface", cursive;
  filter: drop-shadow(0.05em 0.05em rgb(119, 116, 109));
}

nav {
  padding: 20px 0 40px 0;
  background: rgb(73, 80, 87);
  font-size: 16px;
  font-family: "Hind", sans-serif;

  .navbar-left {
    float: left;
  }

  .navbar-right {
    float: right;
  }
  ul {
    li {
      display: inline;
      padding-left: 20px;
      a {
        color: rgb(0, 0, 0);
        text-decoration: none;
      }
    }
  }
}

// .cart-holder {
//   margin: auto;
//   position: absolute;
//   // width: 80%;
// }

.num {
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: 10px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
}

.shopping-cart {
  display: none;
  margin: 20px 0;
  position: relative;
  float: right;
  // display: inline-block;
  background: white;
  width: 320px;
  border-radius: 3px;
  padding: 20px;
  z-index: 1;

  .shopping-cart-header {
    border: rgb(206, 212, 218);
    padding-bottom: 15px;

    .shopping-cart-total {
      float: right;
    }
  }
}
.shopping-cart-items {
  padding-top: 20px;

  li {
    margin-bottom: 17px;
  }

  img {
    float: left;
    margin-right: 12px;
    height: 50px;
    width: 50px;
  }

  .item-name {
    display: block;
    padding-top: 10px;
    font-size: 17px;
  }

  .item-price {
    color: rgb(0, 0, 0);
    margin-right: 10px;
  }

  .item-quantity {
    color: rgb(0, 0, 0);
  }
}

.shopping-cart:after {
  bottom: 100%;
  // display: inline-flex;
  float: right;
  height: 0;
  width: 0;
  // position: flex;
  border: solid transparent;
  pointer-events: none;
  border-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.button {
  background: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 17px;
  margin: 25px 0 15px 0;
}

// .dropdown:after {
//   content: "";
//   // display: flex;
//   // float: right;
//   clear: both;
// }

.items {
  margin: 10px;
  width: 20%;
  height: 20%;
  justify-content: center;
  display: inline-block;
  h3 {
    font-family: "Abril Fatface", cursive;
  }
  ul {
    list-style-type: none;
    font-family: "Hind", sans-serif;
  }
  ul li {
    display: inline;
    margin-right: 10px;
  }
}
details[open] {
  padding: 0.5em;
  summary {
    margin-bottom: 0.5em;
  }
}
